* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-fitness-run-motion-sprint-picture-image_917924.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
    color: white;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h2 {
    background-color: lightgray;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

address {
    font-style: normal;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
    width: 100%;
    box-shadow: #151313;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background: #f2f2f2;
    cursor: pointer;
}

.pagination button.active {
    background: #007bff;
    color: #fff;
}

.content:not(:empty) {
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover::before {
    opacity: 10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 10px 0;
}

.text {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
}

.button-text {
    font-size: 14px;
    padding-left: 5px;
}

.card-background-image {
    background-image: url('https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.scrollmenu {
    display: flex;
    background-color: #fcfafa;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    margin: 0 2%;
    border: 0.5px solid rgb(191, 184, 184);
    cursor: pointer;
}
